<h1>User#index</h1>
<% if current_user %>
<p id="notice"><%= notice %></p>
<%= link_to 'sign out', destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to 'sign up', new_user_registration_path%>
<%= link_to 'sign in', new_user_session_path%>
<% end %>